<!-- bsh -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lucas Hughes Guitar School</title>
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style2.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css"> -->
</head>
<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>	
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav lm-auto">
                        <a class="nav-link" href="#">Music School</a>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guitar Tuition</a>
                    </li>
                        <a class="nav-link" href="#">Grades and Certificates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Repertoire</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        
<!-- car -->
<!-- - carousel 1200 x 615-->
<!-- Carousel -->

<div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/bg1.png">
                <div class="carousel-caption">
                    <h1 class="display-2">Private Tuition</h1>
                    <h3>100% Pass Rate</h3>
                    <button type="button" class="btn btn-outline-light btn-lg">Learn More</button>
                    <button type="button" class="btn btn-primary btn-lg">Free Lesson</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/bg2.png">
                <div class="carousel-caption">
                    <h1 class="display-2">Group Lessons</h1>
                    <h3>Group lessons are great value</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/bg3.png">
                <div class="carousel-caption">
                    <h1 class="display-2">Classical Guitar Lessons by Skype</h1>
                    <h3>Learn classical guitar online</h3>                                
                </div>
            </div>
        </div>
    </div>
<!-- bsj -->
<!--- Jumbotron -->
<!--- Jumbotron -->
<div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">Jumbotron caption</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Book Now</button></a>
            </div>
        </div>
    </div>
<!-- bsl -->
<!--- Welcome Lead -->
<!--- Lead -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h4 class="display-4"></h4>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Learning classical guitar is awesome</p>
        </div>
    </div>
<!-- 3cl -->
<!--- Three Column Section -->
<!--- Three Column  -->
<div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-volume-up"></i>
                    <h3>Private Lessons</h3>
                <p>100 Pass Rate</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fas fa-graduation-cap"></i>
                <h3>Group Lessons</h3>
                <p>Great Value</p>
            </div>		
            <div class="col-sm-12 col-md-4">
                    <i class="fab fa-soundcloud"></i>			
                <h3>Skype Lessons</h3>
                <p>Most Convenient</p>
            </div>
        </div>
    </div>
<!-- 2cl -->
<!--- Two Column Section -->

<hr class="my-4">
<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">
			
		</div>
	</div>
</figure>

<!--- Three Card Heading -->

<!-- b3c -->
<!--- Three Cards -->

<!-- 2cl -->
<!--- Two Column Section -->

<!-- bss -->
<!--- Connect -->
<!--- Connect -->
<div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h2>Socialise</h2>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    
<!-- bsf -->
<!--- Footer -->
</body>
