
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Some Title Text</title>
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> -->
    <link href="dash.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css"> -->
</head>
<body>
    
<!-- Navbar -->
<nav class="navbar navbar-expand-md ml-auto navbar-dark">
    <button class="navbar-toggler ml-auto mb-2 bg-dark" type="button" data-toggle="collapse" data-target="myNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="myNavbar">

        <div class="container-fluid">
            <div class="row">
<!-- sidebar -->
                <div class="col-lg-3 sidebar fixed-top">
                <a href="#" class="navbar-brand text-white d-block
                mx-auto text-center py-3 mb-4 bottom-border">InstaWorker</a>    
                <div class="bottom-border pb-3">
                    <img src="https://picsum.photos/id/839/600/400" class="rounded-circle mr-3" width="50">
                    <a href="#" class="href text-white">Tommy H</a>
                </div>
                <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 current">
                <i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-user text-light fa-lg mr-3"></i>Profile</a></li>
                <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-envelope text-light fa-lg mr-3"></i>Inbox</a></li>
                <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>Sales</a></li>
                <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Charts</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-table text-light fa-lg mr-3"></i>Tables</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
            </ul>
            </div>

            <!-- top-nav -->
            <div class="col-lg-9 ml-auto bg-dark fixed-top py-2">
                <div class="row alighn-items-center">
                    <div class="col-md-4 text-light text-uppercase mb-0">
                    <h4 class mb-0>Dashboard</h4>    
                    </div>
                    <div class="col-md-5">
                    <form>
                        <div class="input-group">
                        <input type="text" class="form-control search-input" placeholder="Search . . . ">
                        <button type="button" class="btn btn-white search-button">
                            <i class="fas fa-search text-danger"></i>
                        </button>
                        </div>
                    </form>
                    </div>
                    <div class="col-md-3">
                    <ul class="navbar-nav">
                        <li class="nav-item icon-parent"><a href="#" class="nav-link"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                        <li class="nav-item icon-bullet"><a href="#" class="nav-link"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                        <li class="nav-item icon-bullet"><a href="#" class="nav-link ml-auto"><i class="fas  fa-sign-out-alt text-danger fa-lg"></i></a></li>
                    </ul>
                    </div>
                </div>
                    
                </div>   
            </div>
        </div>
    </div>
</nav>

<!-- ml margin left
    mb margin bottom
    x both left and right
-->

</body>

